<a href="https://colab.research.google.com/github/davidviana/DataScience/blob/main/DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NOTEBOOK 2

In [ ]:
import pandas as pd

#Lendo DataFrame

In [ ]:
df_banco = pd.read_csv('Banco.csv')
df_banco.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

DataSet

In [ ]:
display(df_banco.describe())

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

Tipo de Dados

In [ ]:
df_banco.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

Dados Nulos

In [ ]:
display(df_banco.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

None

Colunas (Series)

In [ ]:
series = df_banco['balance'].min()
print(series)

-3313

Dropando Series

In [ ]:
df_drop = df_banco.drop(axis=1, labels=['job', 'education'])
display(df_drop)

,age,marital,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,married,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,married,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,single,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,married,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,married,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,married,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,married,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,married,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,married,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,single,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

## Linha

In [ ]:
display(df_banco.tail(2))

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

Iterando sobre as ocorrencias (linhas)

In [ ]:
for a,b in df_banco.iterrows():
  print(a)
  print(b)

A saída de streaming foi truncada nas últimas 5000 linhas.
poutcome       unknown
y                   no
Name: 4257, dtype: object
4258
age                  29
job          management
marital          single
education      tertiary
default              no
balance            5980
housing             yes
loan                 no
contact         unknown
day                  28
month               may
duration            317
campaign              1
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 4258, dtype: object
4259
age                 32
job           services
marital         single
education    secondary
default             no
balance             48
housing            yes
loan                no
contact       cellular
day                 20
month              apr
duration             8
campaign             3
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4259, dtype: object
4260
age                 50
job          housemaid
marital         single
education      unknown
default             no
balance              0
housing             no
loan                no
contact      telephone
day                 28
month              jul
duration           118
campaign             8
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4260, dtype: object
4261
age                 58
job            retired
marital        married
education    secondary
default             no
balance           3382
housing             no
loan               yes
contact       cellular
day                 28
month              may
duration           294
campaign             2
pdays              309
previous             2
poutcome       failure
y                   no
Name: 4261, dtype: object
4262
age                  59
job          technician
marital         married
education     secondary
default              no
balance            2308
housing              no
loan                 no
contact        cellular
day                  30
month               apr
duration            815
campaign              1
pdays                87
previous              1
poutcome          other
y                   yes
Name: 4262, dtype: object
4263
age                25
job           student
marital       married
education    tertiary
default            no
balance            10
housing           yes
loan               no
contact      cellular
day                21
month             jul
duration          857
campaign            4
pdays              -1
previous            0
poutcome      unknown
y                 yes
Name: 4263, dtype: object
4264
age                 57
job           services
marital        married
education    secondary
default             no
balance            162
housing            yes
loan                no
contact        unknown
day                  5
month              may
duration           174
campaign             1
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4264, dtype: object
4265
age                   30
job          blue-collar
marital           single
education      secondary
default               no
balance             1073
housing              yes
loan                  no
contact         cellular
day                    5
month                may
duration            1130
campaign               4
pdays                 -1
previous               0
poutcome         unknown
y                     no
Name: 4265, dtype: object
4266
age                 26
job           services
marital         single
education    secondary
default             no
balance           1700
housing            yes
loan                no
contact       cellular
day                  7
month              may
duration            13
campaign             5
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4266, dtype: object
4267
age                50
job          services
marital        single
education     primary
default            no
balance           148
housing           yes
loan               no
contact       unknown
day                 7
month             may
duration          198
campaign            2
pdays              -1
previous            0
poutcome      unknown
y                  no
Name: 4267, dtype: object
4268
age                 39
job           services
marital        married
education    secondary
default             no
balance              0
housing            yes
loan                no
contact       cellular
day                  8
month              may
duration           503
campaign             1
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4268, dtype: object
4269
age                   45
job          blue-collar
marital          married
education        primary
default               no
balance              185
housing              yes
loan                  no
contact         cellular
day                   29
month                jan
duration             249
campaign               3
pdays                 -1
previous               0
poutcome         unknown
y                     no
Name: 4269, dtype: object
4270
age                  37
job          management
marital        divorced
education      tertiary
default              no
balance             896
housing              no
loan                yes
contact        cellular
day                  14
month               aug
duration            343
campaign              2
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 4270, dtype: object
4271
age                   47
job          blue-collar
marital         divorced
education        primary
default               no
balance             1279
housing              yes
loan                  no
contact         cellular
day                    6
month                feb
duration             479
campaign               2
pdays                 -1
previous               0
poutcome         unknown
y                     no
Name: 4271, dtype: object
4272
age                  50
job          technician
marital         married
education      tertiary
default              no
balance             199
housing             yes
loan                yes
contact        cellular
day                   3
month               feb
duration            116
campaign              2
pdays               253
previous              1
poutcome        failure
y                    no
Name: 4272, dtype: object
4273
age                  40
job          management
marital         married
education     secondary
default              no
balance              99
housing              no
loan                 no
contact        cellular
day                   9
month               feb
duration             15
campaign              5
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 4273, dtype: object
4274
age                   35
job          blue-collar
marital          married
education        primary
default               no
balance              378
housing              yes
loan                  no
contact          unknown
day                   16
month                may
duration             427
campaign               3
pdays                 -1
previous               0
poutcome         unknown
y                     no
Name: 4274, dtype: object
4275
age                  53
job          management
marital         married
education      tertiary
default              no
balance              15
housing              no
loan                 no
contact        cellular
day                  20
month               aug
duration            921
campaign              2
pdays                -1
previous              0
poutcome        unknown
y                   yes
Name: 4275, dtype: object
4276
age                 35
job             admin.
marital        married
education    secondary
default             no
balance            147
housing            yes
loan               yes
contact       cellular
day                 29
month              jan
duration            41
campaign             1
pdays              184
previous             7
poutcome       failure
y                   no
Name: 4276, dtype: object
4277
age                  54
job          technician
marital         married
education     secondary
default              no
balance            2225
housing              no
loan                yes
contact        cellular
day                  13
month               aug
duration             73
campaign              2
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 4277, dtype: object
4278
age                 35
job             admin.
marital         single
education    secondary
default             no
balance           1810
housing            yes
loan                no
contact       cellular
day                 25
month              may
duration            65
campaign             2
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4278, dtype: object
4279
age                 31
job          housemaid
marital        married
education      unknown
default            yes
balance             -6
housing             no
loan               yes
contact      telephone
day                  7
month              jul
duration            94
campaign             2
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4279, dtype: object
4280
age                  46
job          technician
marital        divorced
education     secondary
default              no
balance             435
housing             yes
loan                 no
contact         unknown
day                  15
month               may
duration            192
campaign              3
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 4280, dtype: object
4281
age                  52
job          management
marital         married
education     secondary
default              no
balance             335
housing              no
loan                 no
contact        cellular
day                  21
month               oct
duration            411
campaign              1
pdays               182
previous              1
poutcome        failure
y                   yes
Name: 4281, dtype: object
4282
age                 34
job             admin.
marital       divorced
education    secondary
default             no
balance           -251
housing             no
loan                no
contact       cellular
day                 18
month              jul
duration           641
campaign             1
pdays               -1
previous             0
poutcome       unknown
y                  yes
Name: 4282, dtype: object
4283
age                 46
job           services
marital       divorced
education    secondary
default             no
balance              5
housing            yes
loan               yes
contact       cellular
day                 29
month              jan
duration           305
campaign             2
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4283, dtype: object
4284
age                     54
job          self-employed
marital            married
education        secondary
default                 no
balance                641
housing                yes
loan                    no
contact           cellular
day                     17
month                  apr
duration               472
campaign                 1
pdays                  148
previous                 2
poutcome           failure
y                       no
Name: 4284, dtype: object
4285
age                37
job            admin.
marital       married
education    tertiary
default            no
balance             0
housing           yes
loan               no
contact      cellular
day                21
month             jul
duration          115
campaign            1
pdays              -1
previous            0
poutcome      unknown
y                  no
Name: 4285, dtype: object
4286
age                 39
job             admin.
marital        married
education     tertiary
default             no
balance            722
housing             no
loan                no
contact      telephone
day                 23
month              apr
duration           141
campaign             1
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4286, dtype: object
4287
age                  50
job          technician
marital         married
education      tertiary
default              no
balance            3337
housing             yes
loan                yes
contact       telephone
day                  31
month               jul
duration             24
campaign             14
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 4287, dtype: object
4288
age                  44
job          technician
marital        divorced
education     secondary
default              no
balance               0
housing              no
loan                 no
contact        cellular
day                  28
month               jul
duration            264
campaign              5
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 4288, dtype: object
4289
age                 56
job             admin.
marital        married
education    secondary
default             no
balance           1504
housing            yes
loan                no
contact        unknown
day                 29
month              may
duration            66
campaign             2
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4289, dtype: object
4290
age                40
job          services
marital       married
education    tertiary
default            no
balance            35
housing            no
loan               no
contact      cellular
day                 3
month             jul
duration          318
campaign            4
pdays             317
previous            3
poutcome      failure
y                  no
Name: 4290, dtype: object
4291
age                 36
job           services
marital        married
education    secondary
default             no
balance            895
housing            yes
loan               yes
contact        unknown
day                  4
month              jun
duration           622
campaign             1
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4291, dtype: object
4292
age                  33
job          management
marital         married
education      tertiary
default              no
balance             752
housing             yes
loan                 no
contact        cellular
day                  11
month               aug
duration            104
campaign              4
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 4292, dtype: object
4293
age                   33
job          blue-collar
marital           single
education      secondary
default               no
balance             1925
housing              yes
loan                  no
contact         cellular
day                    2
month                mar
duration              76
campaign               2
pdays                 -1
previous               0
poutcome         unknown
y                     no
Name: 4293, dtype: object
4294
age                 42
job           services
marital        married
education    secondary
default             no
balance           -246
housing            yes
loan                no
contact        unknown
day                  7
month              may
duration           149
campaign             1
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4294, dtype: object
4295
age                     30
job          self-employed
marital             single
education         tertiary
default                 no
balance                901
housing                yes
loan                   yes
contact            unknown
day                     16
month                  may
duration               601
campaign                 1
pdays                   -1
previous                 0
poutcome           unknown
y                       no
Name: 4295, dtype: object
4296
age                 33
job             admin.
marital         single
education    secondary
default             no
balance            894
housing             no
loan                no
contact       cellular
day                  5
month              feb
duration           509
campaign             2
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4296, dtype: object
4297
age                   26
job          blue-collar
marital           single
education      secondary
default               no
balance              592
housing              yes
loan                 yes
contact          unknown
day                   27
month                may
duration             174
campaign               1
pdays                 -1
previous               0
poutcome         unknown
y                     no
Name: 4297, dtype: object
4298
age                 26
job             admin.
marital         single
education    secondary
default             no
balance           3529
housing             no
loan               yes
contact       cellular
day                  7
month              sep
duration            57
campaign             2
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4298, dtype: object
4299
age                 37
job           services
marital        married
education    secondary
default             no
balance              0
housing            yes
loan               yes
contact       cellular
day                 31
month              jul
duration           187
campaign             2
pdays               -1
previous             0
poutcome       unknown
y                   no
Name: 4299, dtype: object
4300
age                59
job           retired
marital       married
education     primary
default            no
balance             0
housing            no
loan               no
contact      cellular
day                 5
month             jun
duration          493
campaign            2
pdays              -1
previous            0
poutcome      unknown
y                 yes
Name: 4300, dtype: object
4301
age                   49
job          blue-collar
marital          married
education        primary
default               no
balance              371
housing              yes
loan                  no
contact         cellular
day                   31
month                jul
duration              18
campaign              44
pdays                 -1
previous               0
poutcome         unknown
y                     no
Name: 4301, dtype: object
4302
age                   33
job          blue-collar
marital           single
education        primary
default               no
balance                1
housing              yes
loan                  no
contact         cellular
day                   20
month                apr
duration             257
campaign               1
pdays                 -1
previous               0
poutcome         unknown
y                     no
Name: 4302, dtype: object
4303
age                  46
job          technician
marital          single
education     secondary
default              no
balance             834
housing             yes
loan                 no
contact        cellular
day                  11
month               jul
duration            196
campaign              2
pdays                -1

# Subsets

Selecionando linhas - iloc

In [ ]:
df_banco.iloc[0:10,[1,2]] #primeiro param é linha, segundo param column

             job  marital
0     unemployed  married
1       services  married
2     management   single
3     management  married
4    blue-collar  married
5     management   single
6  self-employed  married
7     technician  married
8   entrepreneur  married
9       services  married

Selecionando linhas - loc

In [ ]:
display(df_banco.loc[(df_banco['marital'] == 'single') & (df_banco['job'] == 'unemployed')])

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
99,31,unemployed,single,primary,no,406,no,no,cellular,4,feb,736,1,-1,0,unknown,yes
126,24,unemployed,single,secondary,no,119,no,no,unknown,15,sep,51,1,-1,0,unknown,no
247,32,unemployed,single,secondary,no,0,no,no,cellular,27,may,123,2,-1,0,unknown,no
257,28,unemployed,single,secondary,no,16,no,no,cellular,12,aug,119,4,-1,0,unknown,no
319,26,unemployed,single,secondary,no,1064,no,no,unknown,31,may,113,1,-1,0,unknown,no
594,37,unemployed,single,tertiary,yes,0,yes,no,cellular,10,jul,108,1,-1,0,unknown,no
608,51,unemployed,single,tertiary,no,1594,no,no,telephone,4,feb,197,1,-1,0,unknown,no
956,27,unemployed,single,secondary,no,3276,no,no,cellular,5,aug,106,1,110,2,other,no
1161,29,unemployed,single,tertiary,no,991,no,no,cellular,5,feb,563,1,-1,0,unknown,no
1407,36,unemployed,single,tertiary,no,9019,yes,no,unknown,11,jun,952,3,-1,0,unknown,no
1496,44,unemployed,single,secondary,no,3945,no,no,cellular,28,jan,255,1,-1,0,unknown,no
1511,34,unemployed,single,secondary,no,0,no,no,cellular,17,nov,63,2,-1,0,unknown,no
1682,34,unemployed,single,tertiary,no,415,no,no,cellular,12,aug,123,1,-1,0,unknown,no
1701,29,unemployed,single,secondary,no,486,no,no,telephone,30,apr,95,1,-1,0,unknown,no
1929,46,unemployed,single,tertiary,no,705,no,no,cellular,4,feb,398,1,-1,0,unknown,no
1937,30,unemployed,single,secondary,yes,-770,yes,no,unknown,28,may,87,1,-1,0,unknown,no
1962,25,unemployed,single,tertiary,no,343,no,no,cellular,1,jun,377,1,-1,0,unknown,yes
1979,31,unemployed,single,secondary,no,-186,yes,no,unknown,26,may,172,3,-1,0,unknown,no
2065,38,unemployed,single,tertiary,no,0,no,no,cellular,6,feb,39,2,-1,0,unknown,no
2375,26,unemployed,single,secondary,no,622,no,no,cellular,28,jan,1451,2,-1,0,unknown,yes
2465,44,unemployed,single,primary,no,4232,no,no,unknown,16,jun,227,1,-1,0,unknown,no
2507,42,unemployed,single,secondary,no,2613,yes,no,cellular,30,jul,174,6,-1,0,unknown,no
2740,26,unemployed,single,secondary,no,461,no,no,cellular,28,jan,214,1,-1,0,unknown,no
2867,27,unemployed,single,tertiary,no,1,no,no,cellular,3,feb,65,2,-1,0,unknown,no
3359,25,unemployed,single,secondary,no,34,no,yes,unknown,4,jul,316,1,-1,0,unknown,no
3401,32,unemployed,single,tertiary,no,336,yes,no,unknown,8,may,139,1,-1,0,unknown,no
3449,28,unemployed,single,secondary,no,304,no,no,cellular,14,jun,516,1,-1,0,unknown,no
3538,30,unemployed,single,tertiary,no,302,no,no,cellular,11,feb,528,3,-1,0,unknown,yes
3794,43,unemployed,single,unknown,no,3274,yes,no,cellular,22,may,680,1,95,1,failure,no
4406,35,unemployed,single,secondary,no,2116,yes,no,cellular,13,may,409,2,-1,0,unknown,no
4488,31,unemployed,single,secondary,no,315,no,no,cellular,30,jan,130,1,2,1,other,no

Queries

In [ ]:
display(df_banco.query('balance > 4000'))

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
176,44,admin.,married,secondary,no,5181,yes,yes,cellular,31,jul,18,7,-1,0,unknown,no
232,44,technician,single,secondary,no,33,yes,no,cellular,13,may,195,3,351,10,failure,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4437,44,management,married,tertiary,no,4460,no,no,telephone,31,jul,168,2,-1,0,unknown,no
4448,44,unemployed,married,secondary,no,304,yes,no,unknown,12,may,129,2,-1,0,unknown,no
4473,33,technician,married,secondary,no,4790,yes,no,cellular,20,apr,137,1,272,2,failure,no
4474,44,blue-collar,married,primary,no,-237,yes,no,telephone,10,jul,73,1,-1,0,unknown,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no